<%= render 'static_pages/image_grid' %>

<div class="work-description">
	<div class="row">
		<div class="large-6 columns">
			<div class="site-name">thatsongtho</div><span class="com">.com</span>
		</div>
		<div class="large-6 columns">
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="purpose">
				<div class="hl-row">
					<div class="hl-div">
						<h4>WHAT? WHY?</h4>
					</div>
					<div class="fill-div">
						<h4>W</h4>
					</div>
				</div>
				<!--
				<div class="top-line">
					<div class="large-12">
						<div class="large-5 columns headline">
							<h4>WHAT? WHY?</h4>
						</div>
						<div class="large-7 columns fill-block">
							<h4></h4>
						</div>
					</div>
				</div>
				-->
				<p>I made this site in order to learn how to use APIs while having fun. I used the EchoNest and Rdio Javascript APIs, and the Twitter REST API via the 'twitter' gem.</p>
			</div>
			<div class="site-description">
				<p>The site aims to help users find songs that they'll like more than their current favorites, playing songs for them along the way.</p>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="hl-row">
				<div class="hl-div">
					<h4>HOW?</h4>
				</div>
				<div class="fill-div"><h4>W</h4></div>
			</div>
			<ul class="square tech">
				<li>Frameworks: Ruby on Rails on the back end, Zurb Foundation on the front end.</li>
				<li>APIs: EchoNest, Rdio, Twitter.</li>
			</ul>
			<div class="links">
				<div class="hl-row">
					<div class="hl-div">
						<h4>LINKS</h4>
					</div>
					<div class="fill-div">
						<h4 class="center">
							<span class="site-link center"><%= link_to "view site", "#" %></span>
							<span class="github-link center"><%= link_to "github", "http://www.github.com/johnh4/that_song_tho", target: "_blank" %></span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="knowledge">
	<div class="row">
		<div class="large-12 columns">
			<h1>Knowledge</h1>
			<ul id="knowledge-list" class="square">
				<li>HTML/CSS.</li>
				<li>Learning JavaScript and jQuery.</li>
				<li>Learning Ruby on Rails.</li>
				<li>Learning Test Driven Development.</li>
			</ul>
		</div>
	</div>
</div>

<div id="about-me">
	<div class="row">
		<div class="large-12 columns">
			<h1>About Me</h1>
		</div>
	</div>
</div>

<div id="contact">	
	<div class="row">
		<div class="large-12 columns">
			<h1>Contact</h1>
			<ul id="contact-list" class="square">
				<li>email: jehowl4@gmail.com</li>
				<li>github: <%= link_to "http://www.github.com/johnh4", 
							"http://www.github.com/johnh4",	target: "_blank" %></li>
			</ul>
		</div>
	</div>
</div>