/********** GENERAL **************/
body, html {
	height: 100%;
	width: calc(100% - 73px);
	width: -webkit-calc(100% - 73px);
}
body {
	//margin-top: 0px;
	//padding-top: 0px;
	//margin-left: 150px;
	//padding-left: 150px;
	position: fixed;
	left: 150px;
}
/********** TOP-BAR **************/
nav.top-bar {
	width: calc(100% + 150px);
	width: -webkit-calc(100% + 150px);
	margin-bottom: 0px;
	left: -150px;
	//position: fixed;
	//background: green;
}
/********** SIDEBAR **************/
#header-offset {
	top: 0px;
	position: fixed;
	background: #000;
	height: 45px;
	width: 150px;
	z-index: -1;
}
.sidebar {
	height: 100%;
	width: 150px;
	background: #000;
	float:left;
	position: fixed;
	top: 45px;
	//top: 0px;
	//z-index: -1;
	.github, .email, .twitter {
		color: white;
		display: block;
		height: calc(33% - 15px);
		height: -webkit-calc(33% - 12px);
		a {
			display: block;
			height: 100%;
			color: #fff;
			padding-top: 100px;
			text-align: center;
		}
		&:hover{
			background: #222;
		}
	}
}
/************ IMAGES ******************/
#image-grid {
	display: block;
	height: calc(100% - 45px);
	height: -webkit-calc(100% - 45px);
	width: calc(100%);
	width: -webkit-calc(100%);
	overflow: hidden;
	//width: 100%;
	.end {
		clear: right;
	}
	.image-three {
		float: left;
		display: block;
		width: calc(75%);
		width: -webkit-calc(75%);
		height: calc(50%);
		height: -webkit-calc(50%);
		overflow: hidden;
	}
	.image-one {
		float: left;
		display: block;
		width: calc(25%);
		width: -webkit-calc(25%);
		height: calc(50%);
		height: -webkit-calc(50%);
		overflow: hidden;
	}
	.image-two {
		float: left;
		display: block;
		width: calc(50%);
		width: -webkit-calc(50%);
		height: calc(50%);
		height: -webkit-calc(50%);
		overflow: hidden;
	}
}










