@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://fonts.googleapis.com/css?family=Exo:100,400,900,100italic);
@import url(http://fonts.googleapis.com/css?family=Istok+Web);

/********** GENERAL **************/
$first: rgba(7,70,140,1); //navy blue
$second: #6EE4FF; //light blue //neon blue #03FFFB;
$third: #FF0378; //pinkish red
$fourth: rgba(55,202,140,1); //green
$fifth: #8400FF; //light purple //rgba(234,58,230,1); //pink
$sixth: rgba(205,208,213,1); //light grey

body, html {
	height: 100%;
	width: -webkit-calc(100% - 73px);
	width: calc(100% - 73px);
	width: -moz-calc(100% - 73px);
}
body {
	//margin-top: 0px;
	//padding-top: 0px;
	//margin-left: 150px;
	//padding-left: 150px;
	position: fixed;
	left: 150px;
}
.center {
	text-align: center;
}
h4 {
	font-family: 'Josefin Sans', Arial;
	font-weight: 300;
}
/********** TOP-BAR **************/
nav.top-bar {
	width: -webkit-calc(100%);
	width: -moz-calc(100%);
	width: calc(100%);
	margin-bottom: 0px;
	//left: -150px;
	//position: fixed;
	.center {
		left: 50%;
	}
	.title-area li h1 a {
		text-shadow: 0px 0px 6px rgba(255,255,255, 0.4);
	}
}
.top-bar-section {
	text-align: center;
	.center {
		display: inline-block;
	}
}
#work-top a {
	color: $fifth;
}
#knowledge-top a {
	color: $second;
}
#about-top a {
	color: $third;
}
#contact-top a {
	//color: #FCFFA1; //light yellow
}
#work-top a, #knowledge-top a, #about-top a, #contact-top a {
	//text-shadow: 0px 0px 6px rgba(255,255,255, 0.4);
}

/********** SIDEBAR **************/
#header-offset {
	top: 0px;
	position: fixed;
	background: #000;
	height: 45px;
	width: 150px;
	z-index: -1;
}
.sidebar {
	height: 100%;
	width: 150px;
	background: #000;
	float:left;
	position: fixed;
	top: 45px;
	left: 0px;
	.github, .email, .twitter {
		color: white;
		display: block;
		height: calc(33% - 15px);
		height: -webkit-calc(33% - 12px);
		height: -moz-calc(33% - 12px);
		a {
			display: block;
			height: 100%;
			color: #fff;
			position: absolute;
			text-align: center;
			top: calc(40%);
			top: -webkit-calc(40%);
			top: -moz-calc(40%);
			left: calc(30%);
			left: -webkit-calc(30%);
			left: -moz-calc(30%);
		}
		&:hover{
			background: #222;
		}
	}
}
#twitter-coloring {
	background: #000;
	//opacity: .5;
	height: 100%;
	position: relative;
	&:hover {
		background: rgba(85, 172, 238, 1);
	}
}
#github-coloring {
	background: #000;
	height: 100%;
	position: relative;
	&:hover {
		background: rgba(200,200,200,1);
	}
}
#email-coloring {
	background: #000;
	height: 100%;
	position: relative;
	&:hover {
		background: green;
	}
}
/************ IMAGES ******************/

.image-two, .image-three, .image-one{
	&:hover {
		background: white;
	}
}
#image-grid {
	img {
		width: 100%;
	}
	background: rgba(153,153,153,1);
	display: block;
	height: calc(100%);
	height: -webkit-calc(100%);
	height: -moz-calc(100%);
	width: calc(100%);
	width: -webkit-calc(100%);
	width: -moz-calc(100%);
	overflow: hidden;
	position: relative;
	.end {
		clear: right;
	}
	.image-three {
		background: black;
		float: left;
		display: block;
		width: calc(75%);
		width: 75%;
		height: calc(50%);
		height: -webkit-calc(50%);
		height: -moz-calc(50%);
		overflow: hidden;
		position: relative;
	}
	.image-one {
		float: left;
		display: block;
		width: calc(25%);
		width: 25%;
		height: calc(50%);
		height: -webkit-calc(50%);
		height: -moz-calc(50%);
		overflow: hidden;
		position: relative;
		&:not(.project-two) {
			background: black;
		}
	}
	.image-two {
		float: left;
		display: block;
		width: calc(50%);
		width: 50%;
		height: calc(50%);
		height: -webkit-calc(50%);
		height: -moz-calc(50%);
		overflow: visible;
		position: relative;
	}
	.title {
		display: none;
		z-index: 2;
		position: absolute;
		top: calc(50%);
		top: 50%;
		left: calc(50%);
		left: -webkit-calc(50%);
		left: -moz-calc(50%);
		color: white;
		text-shadow: 0 0 10px #000;

	}
	.darken, #twitter-image-container {
		display: inline-block;
		background: black;
		img {
			display: block;
			-webkit-transition: all 1s linear;
			-moz-transition: all 1s linear;
			opacity: .6;
		}
		&:hover img{
			//opacity: .4;
		}
	}
	div:hover .title {
	}
	.alter {
		position: relative;
		display: block;
		background: rgba(255,255,255, 0);
		opacity: 1;
		height: 100%;
		width: 100%;
		transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
	}
	div:hover span.alter {
		opacity: .5;
	}
	#project-one, .project-two {
		&:hover {
		}
	}
}
#twitter-image-container {
	background: rgba(153,153,153,1);
	display: block;
	height: 100%;
	width: 100%;
	background: url('twitter-breaking-bad.png');
	background-size: cover;
	img {
		height: 100%;
		width: 100%;
	}
	a {
		height: 100%;
		width: 100%;
	}
}

/*********** DESCRIPTION *************/
.top-line {
	.headline {
		background: rgba(7,70,140,1); 
		h4 {
			color: white;
		}
	}
	.break {
		height: auto;
		width: 15px;
		background: white;
	}
	.fill-block {
		height: 32px;
		width: 50444px;
		background: black;
		display: block;
	}
}
.hl-row {
	.hl-div {
		display: inline-block;
		width: 19%;
		padding-left: 12px;
		background: rgba(7,70,140,1);
		h4 {
			color: white;
		}
	}
	.fill-div {
		float: right;
		width: 80%;
		background: black;
		h4 {
			color: black;
		}
	}
}
.purpose {
	.hl-div {
		width: 40%;
	}
	.fill-div {
		width: 59%;
	}
}
.links {
	.fill-div {
		text-align: center;
	}
	.fill-div a {
		color: white;
		width: 100%;
		padding-right: 10px;
		text-align: center;
	}
}
.description {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Open Sans', 'Arial';
}
.site-name {
	font-family: 'Josefin Sans', 'Arial';
	font-weight: 400;
	//3em
	font-size: 3.25em;
	text-transform: uppercase;
	display: inline-block;
}
.com {
	font-size: 1em;
	color: grey;
}
.work-description {
	p, li {
		font-family: 'Istok Web', 'Josefin Sans', Arial;
		color: #444;
	}
	h4 {
		display: inline;
		font-family: 'Exo', Arial;
		font-weight: 900;
	}
	.site-link {
		display: inline-block;
		text-align: center;
		a {
			color: $second;
		}
	}
	.github-link {
		a {
			color: $third;
		}
	}
	.images-link {
		a {
			color: $fifth;
		}
	}
	ul {
		padding-left: 19px;
	}
}
#portfolio-description {
	margin-bottom: 30px;
}

/************ KNOWLEDGE *****************/
#knowledge {
	background: $first;//#6E6C66;
	color: white;
	h1 {
		color: white;
		//color: $first;
		text-shadow: 0px 0px 6px rgba(255,255,255,0.4);
		//-webkit-text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
		//text-shadow: 1px 1px 5px black;
	}
	ul {
		padding-left: 19px;
	}
}
/************ ABOUT ME ******************/
#about-me {
	//background: $fifth;
	background: $fifth;
	color: white;
	h1 {
		text-shadow: 0px 0px 6px rgba(255,255,255, 0.4);
		display: inline-block;
		color: white;
		//color: $sixth;
	}
}
/************ CONTACT *******************/
#contact {
	background: black;
	color: white;
	h1 {
		display: inline-block;
		color: white;
		text-shadow: 0px 0px 6px rgba(255,255,255, 0.6);
	}
	ul {
		padding-left: 19px;
	}
}
