<div id="header-offset"></div>
<div class="sidebar">
	<div class="github">
		<%= link_to "github", "http://www.github.com/johnh4", 
			target: "_blank" %>
	</div>
	<div class="email">
		<%= link_to "email", "mailto:jehowl4@gmail.com" %>
	</div>
	<div class="twitter">
		<%= link_to "twitter", 
			"http://www.twitter.com/herbertdotcom", target: "_blank" %>
	</div>
</div>