<div id="header-offset"></div>
<div class="sidebar">
	<div class="github">
		<div id="github-coloring">
			<%= link_to "", "http://www.github.com/johnh4", 
				target: "_blank", class: "icon-github icon-4x" %>
		</div>
	</div>
	<div class="email">
		<div id="email-coloring">
			<%= link_to "", "mailto:jehowl4@gmail.com", class: "icon-envelope-alt icon-4x" %>
		</div>
	</div>
	<div class="twitter">
		<div id="twitter-coloring">
			<%= link_to "", "http://www.twitter.com/herbertdotcom", 
				target: "_blank", class: "icon-twitter icon-4x" %>
		</div>
	</div>
</div>